<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-4">
            <img src="{{col.photoUrl}}" class="card-img rounded-0" alt="{{col.nom}}">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title"><span>{{col.nom | uppercase}} {{col.prenom | uppercase}}</span></h5>
                <div class="card-text">
                    <span class="text-muted">Matricule : </span>
                    <input type="text" class="rounded-pill form-control-plaintext" id="staticMatricule"
                        value="{{col.matricule}}" readonly>
                </div>
                <div class="card-text">
                    <span class="text-muted">Nom : </span>
                    <input type="text" [ngClass]="{'mod':isCreationEnCours}" class="rounded-pill form-control-plaintext"
                        #nom [(ngModel)]="col.nom" id="staticNom" value="{{col.nom | uppercase}}" required
                        [readonly]="!isCreationEnCours">
                </div>
                <div class="card-text">
                    <span class="text-muted">Prénom : </span>
                    <input type="text" [ngClass]="{'mod':isCreationEnCours}" class="rounded-pill form-control-plaintext"
                        #prenom [(ngModel)]="col.prenom" id="staticPrenom" value="{{col.prenom}}" required
                        [readonly]="!isCreationEnCours">
                </div>
                <div class="card-text">
                    <span class="text-muted">Date de naissance : </span>
                    <input (click)="d.toggle()" type="text" [ngClass]="{'mod':isCreationEnCours}"
                        class="rounded-pill form-control-plaintext" #ddn [(ngModel)]="col.ddn" id="staticDdn"
                        value="{{col.ddn | date}}" placeholder="{{col.ddn | date}}" name="dp" ngbDatepicker
                        #d="ngbDatepicker" required [readonly]="!isCreationEnCours" [disabled]="!isCreationEnCours">
                </div>



                <div class="card-text">
                    <span class="text-muted">Email : </span>
                    <input type="text" [ngClass]="{'mod':isModificationEnCours||isCreationEnCours}"
                        [(ngModel)]="col.email" class="rounded-pill form-control-plaintext" id="staticEmail" required
                        [readonly]="!isCreationEnCours&&!isModificationEnCours">
                </div>
                <div class="card-text">
                    <span class="text-muted">Photo Url : </span>
                    <input type="text" [ngClass]="{'mod':isModificationEnCours||isCreationEnCours}" #photo
                        [(ngModel)]="col.photoUrl" class="rounded-pill form-control-plaintext" id="staticPhoto" required
                        [readonly]="!isCreationEnCours&&!isModificationEnCours">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row align-items-end ">

    <ng-container *ngIf="!isModificationEnCours&&!isCreationEnCours"><button (click)="creerCollegue()" type="button"
            class="btn btn-lg btn-outline-primary rounded-pill" [disabled]="boutonIsDisabled">nouveau</button>
        <button (click)="modifierCollegue()" type="button" class="btn btn-lg btn-outline-secondary rounded-pill"
            [disabled]="boutonIsDisabled">modifier</button>
    </ng-container>

    <ng-container *ngIf="isCreationEnCours"><button (click)="validerCreationCollegue()" type="button"
            class="btn btn-lg btn-outline-primary rounded-pill" [disabled]="boutonIsDisabled">
            <ng-container *ngIf="boutonIsDisabled"><span class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span></ng-container>valider
        </button>
        <button (click)="annulerEtats()" type="button" class="btn btn-lg btn-outline-danger rounded-pill"
            [disabled]="boutonIsDisabled">annuler</button>
    </ng-container>

    <ng-container *ngIf="isModificationEnCours"><button (click)="validerModificationCollegue()" type="button"
            class="btn btn-lg btn-outline-primary rounded-pill">
            <ng-container *ngIf="boutonIsDisabled"><span class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span></ng-container>valider
        </button>
        <button (click)="annulerEtats()" type="button"
            class="btn btn-lg btn-outline-danger rounded-pill">annuler</button></ng-container>

</div>