<div class="d-flex flex-row justify-content-center">
    <div class="d-"><img class="img-fluid rounded m-3" src="{{col.photoUrl}}" alt=""></div>
    <div class="d-flex flex-column align-self-stretch m-3">
        <div class="d-flex flex-column mb-3 align-self-start">
            <div class="">Matricule : <span>{{col.matricule}}</span></div>
            <div class="">Nom : <span>{{col.nom | uppercase}}</span></div>
            <div class="">Prenom : <span>{{col.prenom}}</span></div>
            <div class="">Date de naissance : <span>{{col.dateDeNaissance | date}}</span></div>



            <div *ngIf="modifierIsVisible; else elseBlock">
                <div>Email : <span>{{col.email}}</span></div>
                <div>Photo Url : <span>{{col.photoUrl}}</span></div>
            </div>
            <ng-template #elseBlock>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="votre email" aria-label="email"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">http://</span>
                    </div>
                    <input type="text" class="form-control" placeholder="votre photo" aria-label="photo"
                        aria-describedby="basic-addon2">
                </div>
            </ng-template>

        </div>


        <div class="mt-auto d-flex flex-row align-items-end ">

            <ng-container *ngIf="creerIsVisible"><button (click)="creerCollegue()" type="button"
                    class="btn btn-lg btn-outline-primary">nouveau</button></ng-container>

            <ng-container *ngIf="modifierIsVisible"> <button (click)="modifierCollegue()" type="button"
                    class="btn btn-lg btn-outline-secondary">modifier</button></ng-container>

            <ng-container *ngIf="validerIsVisible"><button (click)="validerCreationCollegue()" type="button"
                    class="btn btn-lg btn-outline-primary">valider</button></ng-container>
        </div>
    </div>