input {
    transition: all 0.3s ease-out;
}

input:focus {
    outline:none;
}


input.mod:focus {
    background: rgb(87, 87, 87);
    color: white;
}
input.mod {

    /* outline:solid 1px rgb(94, 94, 94); */
    background: rgb(168, 168, 168);
    padding-left: 1rem;
}